asgiref==3.4.1
beautifulsoup4==4.10.0
cssutils==2.3.0
distlib==0.3.4
dj-database-url==0.5.0
Django==4.1.dev20211217120704
django-heroku==0.3.1
django-inlinecss==0.3.0
djangorestframework==3.13.1
filelock==3.4.2
future==0.18.2
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
Pillow==9.0.0
platformdirs==2.4.1
psycopg2==2.9.3
pynliner==0.8.0
pytz==2021.3
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
toml==0.10.2
tzdata==2021.5
virtualenv==20.13.0
virtualenv-clone==0.5.7
whitenoise==5.3.0
wrapt==1.13.3